// -- Tweaks to admin CSS for React pages
.react-wrapper {
  nav {
    padding: 0 0 0 1em;
  }

  // -- fix WP fucking Materialize
  .card {
    padding: inherit;
    min-width: inherit;
    max-width: inherit;
  }

  input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    box-shadow: inherit;
    border-radius: inherit;
    border: inherit;
    background-color: inherit;
    color: inherit;
    line-height: inherit;
  }

  // Material UI Helpers
  .MuiFormControl-root {

  }
}

// -- Outside of React Wrapper (appended to DOM)
div[role=dialog] {
  // Raise Material UI dialog boxes above WP admin sidebar
  &.MuiPopperUnstyled-root {
    z-index:9990;
  }
}

